urxvt.keysym.Control-Up:	\033OA
urxvt.keysym.Control-Left:	\033OD
urxvt.keysym.Control-Down:	\033OB
urxvt.keysym.Control-Right:	\033OC

urxvt*font:			xft:Bitstream Vera Sans Mono:autohint=true:size=8pt

urxvt*termName:     rxvt
urxvt*background:   #000000
urxvt*foreground:   #cccccc

urxvt*saveLines:	10000

urxvt*scrollColor:      #324c80
